<!DOCTYPE html>
<!--
_/_/_/_/_/  _/_/_/_/  _/      _/    _/_/_/  _/_/_/    _/_/    _/      _/   
   _/      _/        _/_/    _/  _/          _/    _/    _/  _/_/    _/    
  _/      _/_/_/    _/  _/  _/    _/_/      _/    _/    _/  _/  _/  _/     
 _/      _/        _/    _/_/        _/    _/    _/    _/  _/    _/_/      
_/      _/_/_/_/  _/      _/  _/_/_/    _/_/_/    _/_/    _/      _/
-->
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<title>{% block title %} {% endblock %}</title>
	<link rel='alternate' type='application/rss+xml' title='atom 1.0' href='/feed' />
	<meta name="description" content="{{ site.configs.description }}" />
	<meta name="keywords" content="{% if site.configs.keywords %}{{ site.configs.keywords }}{%else%}{% for tag_name, tag_count in site.tags %}{{ tag_name }} ,{% endfor %}{% endif %}" />
	<script type="text/javascript" src="http://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>
	<link href="/template/_css/style.css" rel="stylesheet" type="text/css">
	<!-- pygments start -->
	<link href="/template/_css/pygments-manni.css" type="text/css" rel="stylesheet" />
	<!-- pygments end -->
</head>
<body>

<div id="page">
	<header class="clearfix">
	
		<div id="logo">
		    <h1><a href="/">{{ site.title }}</a></h1>
	    </div>
	    
		<nav>
		{% if has('posts') %}
		    <ul id="nav_menu">
		        <li>
		            <a href="/" {% block nav_index%} {% endblock %}>Home</a>
		        </li>
		        <!--<li>
		            <a href="/archive" {% block nav_archive %} {% endblock %}>Archive</a>
		        </li>-->
		        <li>
		            <a href="/category" {% block nav_category %} {% endblock %}>Category</a>
		        </li>
		        {% if has('contact.md') %}
		        <li>
		            <a href="/contact.md"  {% if request.path == '/contact.md' %}class="current"{% endif %}>Contact</a>
		        </li>
		        {% endif %}
		        {%  if has('images') %}
		        <li>
		            <a href="/folder/" {% block nav_folder %} {% endblock %}>Photos</a>
		        </li>
		        {% endif %}
		        {% if has('links.md') %}
		        <li>
		            <a href="/links.md"  {% if request.path == '/links.md' %}class="current"{% endif %}>Links</a>
		        </li>
		        {% endif %}
		        {% if has('about.md') %}
		        <li>
		            <a href="/about.md"  {% if request.path == '/about.md' %}class="current"{% endif %}>About</a>
		        </li>
		        {% endif %}
		    </ul>
		{% endif %}
		</nav>
		
	</header><!-- end #header -->
	

<div class="container clearfix">
	<section class="content">
    	{% block content %}
		{% endblock %}
	</section>
	<!-- { include 'include/sidebar.html' } -->
	<!-- end #content -->
</div>


{% include 'include/footer.html' %}


</body>
</html>


