{% for post in posts %}
	
	    <article>
	        <h2 class="title">
	        	<a href="{{post.url}}#content">{{ post.title }}</a>
	        </h2>
	
	        <p class="entry_data">
	        	{{ post.date | date('%b %d, %Y %H:%M') }}
	        	
	        	<span>/</span>
	        	
	            {% for tag in post.tags %}
	                <a class="tag" href="/tags/{{ tag }}">{{ tag }}</a>
	            {% endfor %}
	        </p>
			
			<span class="views">{{ post.visits }}</span>
	
	        <section>
	            {{ post| auto_content }}
	        </section>
	
	    </article>
	
{% endfor %}

{% include 'include/paginator.html' %}
